<html>
    <body>
        <div>
        <h1>Add an Image here</h1>
        <form method="POST" action="/upload" enctype=multipart/form-data>
            <input type="file" name="pics" multiple />
            <input type="submit" value="Add" />
        </form>
        </div>
        <div>
        <!-- gets the pics from the static folder -->
        {%for picture in pictures%}
        <img src="{{url_for('static', filename=picture)}}" alt="{{picture}}">
        {%endfor%}
        </div>
    </body>
</html>
