{%extends "gallery.html" %} {%block content%}
<div>
    <h1>Registration</h1>
    <form action="" method="post" novalidate>
        {{ register.hidden_tag() }}
        <p>
            {{ register.username.label }}<br />
            {{ register.username(size=32) }}
        </p>
        <p>
            {{ register.password.label }}<br />
            {{ register.password(size=32) }}
        </p>
        <p type="submit"><a href="/register" value="Register">Register</a></p>
    </form>
</div>
{%endblock%}
